/* .tasks {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
.tasks li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.tasks li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.tasks li.selected {
  background-color: #CFD8DC;
  color: white;
}
.tasks li.selected:hover {
  background-color: #BBD8DC;
  color: white;
} */

/* .date-time {
  width: 50px;
  height: 50px;
} */

.task {
  margin: 0px 0px 10px 0px;
  max-width: 500px;
}

.task mat-card-title {
  font-size: 18px;
}

.task mat-card-subtitle {
  font-size: 15px;
}