<div>
    <h1>Tasks</h1>
    <mat-divider></mat-divider>
    <mat-label></mat-label>
    <mat-list class="task-list">
        <mat-card class="task" *ngFor="let task of tasks" (click)="openTaskThroughDialog(task)">
            <mat-card-title>{{ task.name }}</mat-card-title>
            <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
        </mat-card>
    </mat-list>
    <button mat-button class="add" (click)="addTaskThroughDialog()">
        <mat-icon svgIcon="plus"></mat-icon>
    </button>
</div>