<!-- <div>
  <h1>Display current daily planner here (today's date)</h1>
  <div *ngIf="todayDailyPlanner">
    <h2>Date: {{ todayDailyPlanner.date | date }}</h2>
    <h2>Tasks: {{ todayDailyPlanner.taskMap }}</h2>
  </div>
</div>
<div>
  <h1>Create new daily planner</h1>
  <label>Month: 
    <select [(ngModel)]="date.month">
      <option *ngFor="let month of months">{{month}}</option>
    </select>
  </label>
  <label>Day: 
    <select [(ngModel)]="date.day">
      <option *ngFor="let day of days">{{day}}</option>
    </select>
  </label>
  <button (click)="addDailyPlanner()">Save</button>
</div> -->
<div class="btn-group">
  <button
    mat-raised-button
    color="primary"
    class="btn btn-primary"
    mwlCalendarPreviousView
    [view]="view"
    [(viewDate)]="viewDate"
    (click)="changeWeek(-6)"
  >
    Previous Week
  </button>
  <button
    mat-raised-button
    color="primary"
    class="btn btn-primary"
    mwlCalendarPreviousView
    [view]="view"
    [(viewDate)]="viewDate"
  >
    Previous
  </button>
  <button
    mat-raised-button
    color="primary"
    class="btn btn-primary"
    mwlCalendarNextView
    [view]="view"
    [(viewDate)]="viewDate"
  >
    Next
  </button>
  <button
    mat-raised-button
    color="primary"
    class="btn btn-primary"
    mwlCalendarNextView
    [view]="view"
    [(viewDate)]="viewDate"
    (click)="changeWeek(6)"
  >
    Next Week
  </button>
</div>
<div>
  <h3 class="date">{{ viewDate | date: 'fullDate' }}</h3>
</div>
<div>
  <mwl-calendar-day-view
    [viewDate]="viewDate"
  >
  </mwl-calendar-day-view>
</div>